{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    G&B Soluções Técnicas em Informática<br />
    Rua da solução técnica, 3333<br />
    <abbr title="Telefone">Tel:</abbr>
    93333-3330
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:guilherme.ambrosio@aluno.faculdadeimpacta.com.br">E-mail:guilherme.ambrosio@aluno.faculdadeimpacta.com.br</a><br />
    <strong>Marketing:</strong> <a href="mailto:guilherme.ambrosio@aluno.faculdadeimpacta.com.br">E-mail:guilherme.ambrosio@aluno.faculdadeimpacta.com.br</a>
</address>

{% endblock %}
